@font-face {
    font-family: Montserrat;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
}
* {
    padding: 0;
    margin: 0;
    
}

.header {
    display: flex;
    background-color: aqua;
}
.nav-menu {
    display: flex;
    padding: 0 10rem;
    align-items: center;
    background-color: black;
}
.nav__item {
    
    display: flex;
    align-items: center;
    background-color: blue;
    
    
    
}
.nav__items {
    
    display: flex;
    font-family: Montserrat;
    fon
    font-size: 32px;
    margin: 2rem;
    background-color: blueviolet;
}
.nav__items a{
    
    display: flex;
    text-decoration: none;
}